
<nav>
    <div class='sider'>
    <li><a href="/basic">BASIC CALC</a></li>
    <li><a href="/power">POWER</a></li>
    <li><a href="/sr">SQUARE ROOT</a></li>
    </div>
    <div class='sidel'>
    <li><a href="/bmi">BMI</a></li>
    <li><a href="/mortage">MORTAGE</a></li>
    <li><a href="/trip_calc">TRIP CALC</a></li>
    </div>
  </nav>

<div class ='form'>
<form action="basic" method="get">
 
  <div class="box-8">
    <div class="box-3">
      <label for='first'>FIRST NUMBER</label> 
      <input type='text' name='first' placeholder='enter the first number'>
    </div>
    <div class="box-3">
      <label for='operator'>OPERATOR</label>
      <input type="text" name='operator' placeholder='enter the operator'>
    </div>
    <div class="box-3">
      <label for="second">SECOND NUMBER</label>
      <input type="text" name="second" placeholder="enter a second number">
    </div>
  </div>
  <input class="button" type="submit">
</form>
</div>
  
  <% if @result %>
  <p>The result of <%= @first %> <%= @operator %> <%= @second %> is: <%= @result %></p>
  <% end %>