
 <nav>
    <li><a href="/basic">BASIC CALC</a></li>
    <li><a href="/power">POWER</a></li>
    <li><a href="/sr">SQUARE ROOT</a></li>
    <li><a href="/bmi">BMI</a></li>
    <li><a href="/mortage">MORTAGE</a></li>
    <li><a href="/trip_calc">TRIP CALC</a></li>
  </nav>

  <h1>Pick your calculater and let's do some math!!</h1>